.main{
  padding-top:10px;
}

.inline-list{
	background: #20681E;
}

.left-panel{
  background:#ED5C0E;
  height: 89px !important;
}

.right-panel{
	background: #b4ddb4; /* Old browsers */
	background: -moz-linear-gradient(top, #b4ddb4 0%, #ED580E 40%, #ED580E 33%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(40%,#ED580E), color-stop(33%,#ED580E)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b4ddb4 0%,#ED580E 40%,#ED580E 33%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b4ddb4 0%,#ED580E 40%,#ED580E 33%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b4ddb4 0%,#ED580E 40%,#ED580E 33%); /* IE10+ */
	background: linear-gradient(to bottom, #b4ddb4 0%,#ED580E 40%,#ED580E 33%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
}

.mumbai-map{
	height: 80% !important;
}